h2  Resultados de </br> aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
          h5 230101261-03
          p.mb-0 Implementar habilidades propias que aporten en la atención humanizada en los servicios de salud teniendo en cuenta el ser humano, lineamientos normativos y políticas de la organización.
           




