.container

    .header-ecored
        h1 Actividad didáctica


    .row.align-items-center.justify-content-center.my-5
        .col-8.col-md-6.col-xl-4.mb-5.d-flex.justify-content-center
            figure
                img(src="assets/images/pages/actividad/img_actividad.svg", alt="")
        
        .col-12.col-lg-6
            hr.line-100.bg-orange
            .text-center.p-2
                h2 ¿Y su sentido de vida es? 
                p A continuación, lo invitamos a participar del siguiente ejercicio. Es un test, que le permitirá reflexionar sobre la definición de su sentido de vida.  El resultado es para usted, posiblemente no es el que usted cree. 
                a(href="media/actividad-2/index.html" target="_blank" class="btn btn-colour-Orange") Iniciar            
            hr.line-100.bg-orange
        