.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Atención en Salud:</br>
            | Se define como el conjunto de servicios que se prestan al usuario en el marco de los procesos propios del aseguramiento, así como de las actividades, procedimientos e intervenciones asistenciales en las fases de promoción y prevención, diagnóstico, tratamiento y rehabilitación que se prestan a toda la población. (DECRETO 1011 DE 2006 3 ABR 2006)
        hr
        p
            strong.mr-2 Empatía:</br>
            | Permite comprender la realidad del otro.
        hr
        p 
            strong.mr-2 Habilidades sociales:</br>
            | Este componente hace referencia a la capacidad de las personas para manejar las relaciones con los demás y conducirlos hacia la dirección que se desee.
        hr
        p 
            strong.mr-2 Interdisciplinario:</br>
            | Actividad que se realiza en cooperación de varias disciplinas.

        hr
        p 
            strong.mr-2 MIAS:</br>
            | Sigla utilizada para referirse al Modelo Integral de Atención en Salud. El propósito del MIAS es por tanto la integralidad en el cuidado de la salud y el bienestar de la población y los territorios en que se desarrollan, lo cual requiere la armonización de los objetivos y estrategias del Sistema alrededor del ciudadano como objetivo del mismo.
        hr
        p 
            strong.mr-2 Motivación:</br>
            | Es sentir satisfacción ante la meta alcanzada, no solo por sus recompensas
        hr
        p 
            strong.mr-2 Multidisciplinario:</br>
            | Actividad que abarca o afecta a varias disciplinas. No necesariamente en cooperación.