.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material 
                    th Enlace del Recurso

            tbody
                tr                    

                    td
                        strong Cuando Te Digan "Tu No Puedes" Mira Este Video.
                    td Video 
                    td 
                        a(href=" https://www.youtube.com/watch?v=88GDfphANGo", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr                    

                    td
                        strong Humanización de los Servicios de Salud en tiempos de pandemia del Covid-19.
                    td Video 
                    td 
                        a(href="https://www.instagram.com/tv/CCpGA2sgv-N/?igshid=17q5p6wmwr950", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td
                        strong Trabajo en equipo y miedo (Coach Carter).
                    td video
                    td 
                        a(href="https://www.youtube.com/watch?v=3n1gHAbsGfg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                



                
                        
            