include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Brusco A. 1998, Humanización de la Asistencia al Enfermo. Sal Terrae Cuadernos del Centro de Humanización de la Salud, pág. 86-90.", "")
        +referenciaItem("Instituto Internacional de Planeamiento de la Educación, Ministerio de Educación de la Nación, 2000. Trabajo en Equipo, Modulo 09 Competencias para la profesionalización de la gestión educativa Diez módulos destinados a los responsables de los procesos de transformación educativa. pág. 6-9.", "")
        +referenciaItem("Goleman, D. (1995). Inteligencia Emocional. Por qué es más importante que el cociente intelectual: Barcelona (España). Ediciones B, S.A.", "")
        +referenciaItem("Pérez J., 2016. Humanización en la prestación de los servicios de salud.  Material de formación SENA. Estrategias para humanizar los servicios de salud de acuerdo con herramientas de comunicación, manejo de conflictos y solución de problemas, SENA.", "")  
        +referenciaItem("Sánchez P. J. 2016. Programa Técnicas de comunicación en el nivel administrativo. Material de formación. 1: La Comunicación. SENA.", "") 
        +referenciaItem("Toro, L. Y., 2015, La importancia del trabajo en equipo en las organizaciones, pág. 10-22.", "") 
        +referenciaItem("Material de formación SENA: Humanización en la prestación de los servicios de salud, Estrategias para humanizar los servicios de salud de acuerdo con herramientas de comunicación, manejo de conflictos y solución de problemas.", "") 
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            